
{% extends "base.html" %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %} 
{% block body %}

<div class="">
{% if user.is_authenticated %}
  {% if user.is_superuser %}
    Hi : admin||&nbsp;Click here to :&nbsp;
    <a name="logout" id="logout" style="text-decoration: none;" href="/logout">Logout</a>
  {% else %}
  <body>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
  
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Welcome {{request.user.get_full_name }} </h1>
            <div class="my-3">
              <p style="font-style: italic;">"{{ quote }}"</p>
              <a class="text-muted" style="float: center;">- {{ author }}</a>
            </div>
            <div class="d-flex">
              <a href="/logout" class="btn-get-started scrollto">Logout</a>
              
              
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->
  
    <main id="main">
      <!-- ======= Featured Services Section ======= -->
      <section id="featured-services" class="featured-services">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-book"></i></div>
                <h4 class="title"><a href="">Library</a></h4>
                <p class="description">A place to get all books and notes one needs to excel in exams.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-check-all"></i></div>
                <h4 class="title"><a href="">Class Room</a></h4>
                <p class="description">Get all works assigned by the teachers in one place. Don't forget to submit home tasks.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person-video"></i></div>
                <h4 class="title"><a href="">Video Chat</a></h4>
                <p class="description">Stuck somewhere? Talk to friends or arrange doubt clearing session with the teachers.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->
  
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6">
              <img src="static/img/about.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Every RCCIITans are cordially invited to use this platform</h3>
              <p class="fst-italic">
                This is the result of our joint efforts to solve the problems of students of our college. This includes: 
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> An e-library to get all necesarry books and notes.</li>
                <li><i class="bi bi-check-circle"></i> An online-classroom to keep a track of everything.</li>
                <li><i class="bi bi-check-circle"></i>A video chatting system for discussion and clear doubts.</li>
              </ul>
              <p>
                I hope this will be of some use to everyone. We request everyone to explore this to the fullest and report any bugs or suggest any improvements.
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts"">
        <div class="container">
  
          <div class="row counters" >
  
            <div class="col-lg-4 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>Students</p>
            </div>
  
            <div class="col-lg-4 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
  
            <div class="col-lg-4 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->
  
      
  
      <!-- ======= Portfolio Section ======= -->
  
      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container">
  
          <div class="section-title">
            <span>Our Team</span>
            <h2>Our Team</h2>
            <p>Thanks to them for making this possible</p>
          </div>
  
          <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="static/img/team/team-1.jpeg" alt="">
                <h4>Aritra Belel</h4>
                <!-- <span>Chief Executive Officer</span>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                </p> -->
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href="https://github.com/belelaritra" target="_blank"><i class="bi bi-github"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="static/img/team/team-2.jpeg" width="266" height="266" alt="">
                <h4>Ankit Malakar</h4>
                <!-- <span>Product Manager</span>
                <p>
                  Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                </p> -->
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href="https://github.com/ankitmalakar7" target="_blank"><i class="bi bi-github"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="static/img/team/team-3.png" alt="">
                <h4>Soham Banerjee</h4>
                <!-- <span>CTO</span>
                <p>
                  Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                </p> -->
                <div class="social">
                  <a href="https://twitter.com/Soham4abc" target="_blank"><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href="https://github.com/soham4abc" target="_blank"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/soham-banerjee-6091831b3/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="static/img/team/team-4.jpeg" alt="">
                <h4>Soham Sarkar</h4>
                <!-- <span>CTO</span>
                <p>
                  Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                </p> -->
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href="https://github.com/smart-worker" target="_blank"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/soham-sarkar-8a9401203/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Team Section -->
  
      
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
  
      <div class="footer-top">
  
        <div class="container">
  
          <div class="row  justify-content-center">
            <div class="col-lg-6">
              <h3>Gurukul</h3>
              <p>A huge shoutout to all the resources and services we used to create this app.</p>
            </div>
          </div>
  
          
  
          
  
        </div>
      </div>
  
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Gurukul</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Gurukul-free-simple-bootstrap-template/ -->
          Designed by <a href="https://github.com/quasar-rcciit" target="_blank">Quasar</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    
  
    <!-- Template Main JS File -->
    
  
  </body>
  {% comment %} Hi {{request.user.username }} ||&nbsp;Click here to :&nbsp;
  <a name="logout" id="logout" style="text-decoration: none;" href="/logout">Logout</a> {% endcomment %}
  {% endif %}
{% else %}
<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Welcome to Gurukul</h1>
          <h2>&nbsp;E-learning portal for RCCIITians.</h2>
          <div class="d-flex">
            <a href="{% url 'login' %}" class="btn-get-started scrollto">Login</a>
            <br>
            <a href="{% url 'signup' %}" class="btn-get-started scrollto">SignUp</a>
            
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-book"></i></div>
              <h4 class="title"><a href="">Library</a></h4>
              <p class="description">A place to get all books and notes one needs to excel in exams.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-check-all"></i></div>
              <h4 class="title"><a href="">Class Room</a></h4>
              <p class="description">Get all works assigned by the teachers in one place. Don't forget to submit home tasks.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-person-video"></i></div>
              <h4 class="title"><a href="">Video Chat</a></h4>
              <p class="description">Stuck somewhere? Talk to friends or arrange doubt clearing session with the teachers.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="static/img/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Every RCCIITans are cordially invited to use this platform</h3>
            <p class="fst-italic">
              This is the result of our joint efforts to solve the problems of students of our college. This includes:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>An e-library to get all necesarry books and notes.</li>
              <li><i class="bi bi-check-circle"></i> An online-classroom to keep a track of everything.</li>
              <li><i class="bi bi-check-circle"></i> A video chatting system for discussion and clear doubts.</li>
            </ul>
            <p>
              I hope this will be of some use to everyone. We request everyone to explore this to the fullest and report any bugs or suggest any improvements.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts" >
      <div class="container" >

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>


        </div>

      </div>
    </section><!-- End Counts Section -->   

    <!-- ======= Portfolio Section ======= -->   

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <span>Our Team</span>
          <h2>Our Team</h2>
          <p>Thanks to them for making this possible</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/team/team-1.jpeg" alt="">
              <h4>Aritra Belel</h4>
              <!-- <span>Chief Executive Officer</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
              </p> -->
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://github.com/belelaritra" target="_blank"><i class="bi bi-github"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/team/team-2.jpeg" width="266" height="266" alt="">
              <h4>Ankit Malakar</h4>
              <!-- <span>Product Manager</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
              </p> -->
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://github.com/ankitmalakar7" target="_blank"><i class="bi bi-github"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/team/team-3.png" alt="">
              <h4>Soham Banerjee</h4>
              <!-- <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
              </p> -->
              <div class="social">
                <a href="https://twitter.com/Soham4abc" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://github.com/soham4abc" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/soham-banerjee-6091831b3/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/team/team-4.jpeg" alt="">
              <h4>Soham Sarkar</h4>
              <!-- <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
              </p> -->
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://github.com/smart-worker" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/soham-sarkar-8a9401203/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Gurukul</h3>
            <p>A huge shoutout to all the resources and services we used to create this app.</p>
          </div>
        </div>

        

        

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Gurukul</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Gurukul-free-simple-bootstrap-template/ -->
        Designed by <a href="https://github.com/quasar-rcciit" target="_blank">Quasar</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  

  <!-- Template Main JS File -->
  

</body>
  {% comment %} You are not logged in ||&nbsp;
  <a href="{% url 'login' %}" style="text-decoration: none;">Login</a> &nbsp;or&nbsp;
  <a href="{% url 'signup' %}" style="text-decoration: none;">Signup</a> {% endcomment %}
</div>
{% endif %} 
</div>


{% endblock body %}